main {
    max-width: 900px;
    width: 70%;
    margin: 0 auto;
}
main > h1 {
    text-align: center;
    margin: 10px;
    height: 35px;
}
@media only screen and (max-width: 850px) {
    main {
        width: 80%;
    }
}
@media only screen and (max-width: 800px) {
    main {
        width: 85%;
    }
}
@media only screen and (max-width: 750px) {
    main {
        width: 90%;
    }
}
@media only screen and (max-width: 700px) {
    main {
        width: 95%;
    }
}
