section.cashout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
}
section.cashout button {
    font-weight: bold;
    color: #fff;
    background: #337ab7;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    border: none;
}
section.cashout button:hover {
    background: #286090;
}
section.cashout button:active {
    outline: none;
    background: #000;
}
button.unclickable:hover,
button.unclickable:active {
    cursor: not-allowed !important;
    background: #337ab7 !important;
    outline: none;
}
