section.slot-machine {
    background: #aaa;
}
section.slot-machine > button {
    width: 100px;
    height: calc(calc(70vw - 90px) / 3);
    max-height: calc(calc(900px - 80px) / 3);
    display: inline-block;
    vertical-align: top;
    background: red;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    margin: 0;
    border: none;
}
section.slot-machine > button:hover {
    background: darkred;
}
section.slot-machine > button:active {
    outline: none;
    background: brown;
}
section.slot-machine > table {
    width: calc(100% - 100px);
    display: inline-block;
    border-collapse: collapse;
}
section.slot-machine > table > tbody,
section.slot-machine > table > tbody > tr {
    width: 100%;
    display: block;
}
section.slot-machine > table > tbody > tr > td {
    width: calc(calc(100% / 3) - 90px);
    display: inline-block;
    background: #fff;
    border: 25px solid #aaa;
    padding: 20px;
}
section.slot-machine > table > tbody > tr > td > img {
    width: 100%;
}
@media only screen and (max-width: 850px) {
    section.slot-machine > button {
        height: calc(calc(80vw - 80px) / 3);
    }
}
@media only screen and (max-width: 800px) {
    section.slot-machine > button {
        height: calc(calc(85vw - 80px) / 3);
    }
}
@media only screen and (max-width: 750px) {
    section.slot-machine > button {
        height: calc(calc(90vw - 80px) / 3);
    }
}
@media only screen and (max-width: 700px) {
    section.slot-machine > button {
        height: calc(calc(95vw - 80px) / 3);
    }
}
@media only screen and (max-width: 600px) {
    section.slot-machine > table > tbody > tr > td {
        width: calc(calc(100% / 3) - 60px);
        border: 15px solid #aaa;
        padding: 15px;
    }
}
